@{
    ViewData["Title"] = "Coordinator Portal";
    Layout = null;

}

<head>
    <link rel="stylesheet" href="~/css/Coordinator.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <header>
        <nav class="sideNav">
            <div class="profileArea">

                <div class="profilePhotoArea">
                    <img class="profilePhoto" src="~/Images/Profile Picture.png" />

                </div>


                <div class="profileInfo">
                    <p><strong>Emihle Zifo</strong></p>
                    <p>emihlezifo@gmail.com</p>
                    <p><stromg>Program Coordinator</stromg></p>
                </div>


            </div>
            <ul>
                <li>
                    <a href="#"> <i class="fa-solid fa-gauge"></i> Dashboard</a>
                </li>
                <li><a href="#"><i class="fa-solid fa-eye"></i> View Claims</a></li>
                <li><a href="#"> <i class="fa-solid fa-circle-check"></i> Approve Claims</a></li>
                <li><a href="#"> <i class="fa-solid fa-right-from-bracket"></i> Sign Out</a></li>
            </ul>
        </nav>
    </header>

    <div class="CoordinatorBox">

        <div class="PageTop">
            <h2>Coordinator Dashboard</h2>

        </div>

        <div class="PageBottom">

        
            <div class="header">
                Claims Overview
            </div>

            <div class="progress-container">
                <div class="progress-box">
                    <h3>Approved: R12,000</h3>
                    <div class="progress">
                        <div class="progress-bar approved" style="width: 70%;">70%</div>
                    </div>
                </div>

                <div class="progress-box">
                    <h3>Pending: R6,500</h3>
                    <div class="progress">
                        <div class="progress-bar pending" style="width: 20%;">20%</div>
                    </div>
                </div>

                <div class="progress-box">
                    <h3>Rejected: R4,000</h3>
                    <div class="progress">
                        <div class="progress-bar rejected" style="width: 10%;">10%</div>
                    </div>
                </div>

               
            </div>

            <div class="header">
                Claims 
            </div>

            <div class="ClaimSection">

                <table>
                    <tr>
                        <th>Lecturer</th>
                        <th>Date of Claim</th>
                        <th>Claim Amount</th>
                        <th>Claim Details</th>
                        <th>Actions</th>
                    </tr>

                    <tr>
                        <td>Emihle Zifo</td>
                        <td>April 2, 2024</td>
                        <td>R120.00</td>
                        <td><a href="#">View Claim Details</a></td>
                        <td class="actions">
                            <button class="approve-btn">Approve</button>
                            <button class="reject-btn">Reject</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Emihle Zifo</td>
                        <td>April 2, 2024</td>
                        <td>R120.00</td>
                        <td><a href="#">View Claim Details</a></td>
                        <td class="actions">
                            <button class="approve-btn">Approve</button>
                            <button class="reject-btn">Reject</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Emihle Zifo</td>
                        <td>April 2, 2024</td>
                        <td>R120.00</td>
                        <td><a href="#">View Claim Details</a></td>
                        <td class="actions">
                            <button class="approve-btn">Approve</button>
                            <button class="reject-btn">Reject</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Emihle Zifo</td>
                        <td>April 2, 2024</td>
                        <td>R120.00</td>
                        <td><a href="#">View Claim Details</a></td>
                        <td class="actions">
                            <button class="approve-btn">Approve</button>
                            <button class="reject-btn">Reject</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Emihle Zifo</td>
                        <td>April 2, 2024</td>
                        <td>R120.00</td>
                        <td><a href="#">View Claim Details</a></td>
                        <td class="actions">
                            <button class="approve-btn">Approve</button>
                            <button class="reject-btn">Reject</button>
                        </td>
                    </tr>

                </table>

            </div>
       
         </div>
          
     </div>
        

</body>